@import "./scss_advanced/variables";
@import "./scss_advanced/mixins";

* {
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;

  body {
    display: flex;
    flex-direction: column;
    max-width: 1550px;
    width: 100%;

    #search_opener {
      @extend .checkbox_hider;

      &:checked {
        ~ {
          header {
            box-shadow: none;
            .right_menu_desktop {
              .searching_bar_container {
                label {
                  overflow: hidden;

                  .fa-search {
                    transform: translate(-30px);
                  }

                  .fa-times {
                    transform: translate(-10px, 1px);
                  }
                }
              }
            }
          }
          .search_bar_desktop {
            position: fixed;
            top: 95px;
          }
        }
      }
    }

    header {
      position: fixed;
      top: 0;
      max-width: 1550px;
      width: 100%;
      height: 90px;
      padding: 0 80px;
      box-sizing: border-box;
      @include direction(row, space-between);
      align-items: center;
      background-color: white;
      transition: box-shadow 0.5s ease;
      box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.2);
      z-index: 1;
      .logo_container {
        width: 130px;
        line-height: $header_l_height;

        .fa-utensils {
          color: $main_page_color;
          font-size: 35px;
        }

        span {
          font-size: 30px;
          font-family: $font_apoka;
          font-weight: 600;
          letter-spacing: 0;
          color: rgb(1, 1, 92);
        }
      }

      nav {
        align-items: center;
        box-sizing: border-box;
        display: flex;

        #menu_opener {
          @extend .checkbox_hider;
        }

        #menu_opener {
          &:checked {
            ~ {
              .menu_container {
                .hamburger_menu_container {
                  label {
                    span {
                      &:nth-child(2) {
                        transform: translate(-15px);
                        opacity: 0;
                      }
                      &:nth-child(1) {
                        width: 35px;
                        transform: translate(0px, 13.5px) rotate(-45deg);
                      }
                      &:nth-child(3) {
                        width: 35px;
                        transform: translate(0px, -5px) rotate(45deg);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .menu_container {
          width: auto;
          @include direction(row, space-between);
          align-items: center;

          .hamburger_menu_container {
            flex-direction: row;
            display: none;
            opacity: 0;
            visibility: hidden;
            user-select: none;

            .hamburger_menu_icon {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              width: 35px;
              line-height: 40px;

              &:hover {
                cursor: pointer;
              }

              span {
                height: 4px;
                margin-bottom: 5px;
                background: rgb(1, 1, 92);
                border-radius: 3px;
                transition: all 0.5s ease;
              }

              .ham_line_1 {
                width: 15px;
              }

              .ham_line_2 {
                width: 25px;
                transform: translate(0, 0);
                transition: all 0.5s ease;
              }

              .ham_line_3 {
                width: 35px;
                margin-bottom: 0px;
              }
            }
          }

          ul {
            @include direction(row, center);
            width: auto;

            #responsive_search_check {
              display: none;
            }

            .right_menu_responsive {
              @extend .checkbox_hider;
            }
            .responsive_search {
              outline: none;
              width: 0px;
              text-indent: 10px;
              height: 0px;
              border-radius: 8px;
              border: 0px solid #ccc;
              transition: height 0.5s ease;

              &:hover,
              &:focus {
                outline: none;
              }
            }

            .menu_item_container {
              width: 90px;
              line-height: $header_l_height;
              @include direction(column, center);
              align-items: center;
              border-radius: 5px;
              transition: all 0.4s ease;

              &:hover,
              &:focus {
                background-color: $main_page_color;

                li {
                  color: white;
                }
              }

              &:not(:last-child) {
                margin-right: 5px;
              }

              li {
                color: #5c5c5c;
                font-weight: 500;
                font-family: $font_apoka;
                font-size: 17px;
                transition: all 0.4s ease;
              }
            }
          }
        }
      }

      .right_menu_desktop {
        @include direction(row, center);
        align-items: center;
        width: auto;

        .searching_bar_container {
          width: 40px;
          height: 40px;
          line-height: $header_l_height;
          display: flex;
          align-items: center;
          margin-right: 10px;

          label {
            justify-content: center;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            line-height: $header_l_height;
            overflow: hidden;
            border-radius: 50%;
            background-color: #dcd9d9;
            transition: 0.3s ease;

            &:hover {
              cursor: pointer;
              background-color: $main_page_color;

              .fas {
                color: white;
              }
            }

            .fas {
              font-size: 19px;
              color: rgb(1, 1, 92);
              transform: translate(7px, 1px);
              transition: 0.6s ease;
            }

            .fa-times {
              transform: translate(20px, 1px);
              transition: 0.6s ease;
            }
          }
        }

        .wish_item {
          width: 40px;
          height: 40px;
          line-height: $header_l_height;
          display: flex;
          align-items: center;
          margin-right: 10px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            line-height: $header_l_height;
            border-radius: 50%;
            background-color: #dcd9d9;
            transition: background-color 0.5s ease;

            &:hover {
              background-color: $main_page_color;

              .fas {
                color: white;
              }
            }

            .fas {
              margin-top: 3px;
              font-size: 19px;
              color: rgb(1, 1, 92);
              transition: color 0.5s ease;
            }
          }
        }

        .basket_item {
          width: 40px;
          height: 40px;
          line-height: $header_l_height;
          display: flex;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            line-height: $header_l_height;
            border-radius: 50%;
            background-color: #dcd9d9;
            transition: background-color 0.5s ease;

            &:hover {
              background-color: $main_page_color;

              .fas {
                color: white;
              }
            }

            .fas {
              margin-top: 3px;
              font-size: 19px;
              color: rgb(1, 1, 92);
              transition: color 0.5s ease;
            }
          }
        }
      }
    }

    .search_bar_desktop {
      max-width: 1550px;
      width: 99.8%;
      position: absolute;
      top: 0px;
      height: 50px;
      border-radius: 5px;
      font-size: 19px;
      text-indent: 15px;
      color: #5c5c5c;
      border: 1px solid #979797;
      box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.2);
      transition: top 0.5s ease;
      &::-webkit-search-cancel-button:hover {
        cursor: pointer;
      }

      &::-webkit-search-cancel-button {
        margin-right: 15px;
        -webkit-appearance: none;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 10px;
        background: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 43%,
            rgb(1, 1, 92) 45%,
            rgb(1, 1, 92) 55%,
            rgba(0, 0, 0, 0) 57%,
            rgba(0, 0, 0, 0) 100%
          ),
          linear-gradient(
            135deg,
            transparent 0%,
            transparent 43%,
            rgb(1, 1, 92) 45%,
            rgb(1, 1, 92) 55%,
            transparent 57%,
            transparent 100%
          );
      }
    }

    section {
      margin-top: 95px;
      max-width: 1550px;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;

      input {
        display: none;
      }

      #slide_1:checked {
        ~ {
          .banner_carousel_container {
            .carousel_main {
              .carousel_content {
                margin-left: 0;
              }
            }
          }
        }
      }

      #slide_2:checked {
        ~ {
          .banner_carousel_container {
            .carousel_main {
              margin-left: -66%;
            }
          }
        }
      }

      #slide_3:checked {
        ~ {
          .banner_carousel_container {
            .carousel_main {
              margin-left: -132%;
            }
          }
        }
      }

      .banner_carousel_container {
        width: 300%;
        height: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 10px;

        .carousel_main {
          width: calc(300% / 3);
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          transition: margin-left 0.5s ease;
          scroll-behavior: auto;
          overscroll-behavior-x: contain;
          scroll-snap-type: mandatory;
          scrollbar-width: none;

          .carousel_content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            max-width: 1550px;
            width: 100%;
            transition: margin-left 0.5s ease;

            .details_container {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              .our_special {
                margin-bottom: 10px;
                span {
                  font-family: $font_apoka;
                  font-size: 19px;
                  color: $main_page_color;
                }
              }

              .our_special_header {
                margin-bottom: 10px;
                span {
                  font-family: $font_apoka;
                  font-weight: 800;
                  font-size: 38px;
                  color: rgb(1, 1, 92);
                  letter-spacing: 1px;
                }
              }
              .our_special_detail {
                margin-bottom: 20px;
                height: auto;
                width: 440px;
                span {
                  font-size: 16px;
                  font-family: $font_apoka;
                  color: #5c5c5c;
                }
              }

              .our_special_order {
                width: 180px;
                height: 35px;
                @include direction(row, center);
                align-items: center;
                border-radius: 10px;
                transition: width 0.3s ease;

                &:hover {
                  width: 195px;
                  a {
                    background-color: $main_page_color;
                  }
                }
                a {
                  width: 100%;
                  height: 100%;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: rgb(1, 1, 92);
                  color: white;
                  transition: all 0.3s ease;
                }
              }
            }

            .img_container {
              width: 450px;
              height: 450px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      .navigator_container {
        width: 100%;
        height: 50px;
        @include direction(row, center);
        align-items: center;
        margin-bottom: 20px;

        label {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid #5c5c5c;
          transition: all 0.3s ease;
          &:hover,
          &:focus {
            border: 1px solid rgb(1, 1, 92);
            background-color: $main_page_color;
          }

          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }

      .our_dishes_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        background-color: #efefef;

        .o_d_container {
          .header_dishes {
            text-align: center;
            display: block;
            width: 100%;
            font-size: 18px;
            color: $main_page_color;
            margin-bottom: 5px;
            font-family: $font_apoka;
          }

          .header_dishes_2 {
            text-align: center;
            display: block;
            width: 100%;
            font-size: 30px;
            color: rgb(1, 1, 92);
            font-family: $font_apoka;
            font-weight: 800;
            margin-bottom: 20px;
          }
        }
        .asdf {
          display: flex;
          width: 100%;
          justify-content: center;

          .dishes_cards {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 30px;
            max-width: 1090px;

            .card {
              border-radius: 5px;
              width: 250px;
              height: 290px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-self: flex-start;
              box-sizing: border-box;
              padding: 10px;
              box-sizing: border-box;
              overflow: hidden;
              cursor: pointer;
              box-shadow: 10px 9px 25px -6px rgba(0, 0, 0, 0.51);

              &:hover {
                .card_img_cont {
                  .fa-eye {
                    transform: translate(0, 20px);
                  }
                  .fa-heart {
                    transform: translate(0px, 20px);
                  }
                }
              }

              .card_img_cont {
                @include direction(row, center);
                .fa-eye {
                  color: rgb(1, 1, 92);
                  transform: translate(-60px, 20px);
                  transition: all 0.3s ease;

                  &:hover {
                    color: $main_page_color;
                  }
                }
                img {
                  width: 170px;
                  height: 140px;
                }
                .fa-heart {
                  color: rgb(1, 1, 92);
                  transform: translate(60px, 20px);
                  transition: all 0.3s ease;

                  &:hover {
                    color: $main_page_color;
                  }
                }
              }
              .o_d_card_content {
                @include direction(column, center);
                align-items: center;
                margin-top: 10px;

                .header {
                  font-family: $font_apoka;
                  font-size: 17px;
                  font-weight: 700;
                }
                img {
                  width: 70px;
                  height: 20px;
                  margin: 5px 0;
                }
                .price {
                  font-family: $font_apoka;
                  font-size: 17px;
                  color: $main_page_color;
                  font-weight: 700;
                }
                a {
                  width: 140px;
                  height: 30px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 8px;
                  background-color: rgb(1, 1, 92);
                  color: white;
                  font-size: 14px;
                  font-family: $font_apoka;
                  border-radius: 10px;
                  transition: background-color 0.3s ease;

                  &:hover {
                    background-color: $main_page_color;
                  }
                }
              }
            }
          }
        }
      }
    }
    footer {
      max-width: 1550px !important;
      width: 100% !important;
      height: 300px;
      background-color: aqua;
    }
  }
}
