@font-face {
  font-family: "Apoka Regular";
  src: url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.eot");
  src: url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.woff") format("woff");
}
@font-face {
  font-family: "Apoka Regular";
  src: url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.eot");
  src: url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/08db43aa782b75d9bf2e7cf903a95f54.woff") format("woff");
}
/* line 9, ../scss/scss_advanced/_mixins.scss */
.checkbox_hider {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* line 15, ../scss/scss_advanced/_mixins.scss */
.checkbox_vsbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1070px) {
  /* line 7, ../scss/responsive.scss */
  html body header {
    padding: 0 23px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 19, ../scss/responsive.scss */
  html body #search_opener:checked ~ header {
    -webkit-box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.2);
  }
  /* line 25, ../scss/responsive.scss */
  html body .search_bar_desktop {
    display: none;
  }
  /* line 28, ../scss/responsive.scss */
  html body header {
    padding: 0 30px;
  }
  /* line 31, ../scss/responsive.scss */
  html body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  /* line 39, ../scss/responsive.scss */
  html body header nav #menu_opener:checked ~ .menu_container ul {
    right: 0;
  }
  /* line 45, ../scss/responsive.scss */
  html body header nav .menu_container {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* line 50, ../scss/responsive.scss */
  html body header nav .menu_container .hamburger_menu_container {
    position: relative;
    top: 35px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1;
  }
  /* line 59, ../scss/responsive.scss */
  html body header nav .menu_container ul {
    width: 375px;
    height: 100vh;
    background-color: rgba(31, 29, 29, 0.814);
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 99;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 90px;
    -webkit-transition: right 0.6s ease;
    transition: right 0.6s ease;
  }
  /* line 73, ../scss/responsive.scss */
  html body header nav .menu_container ul .responsive_search {
    width: 100%;
  }
  /* line 81, ../scss/responsive.scss */
  html body header nav .menu_container ul #responsive_search_check:checked ~ .right_menu_responsive .search_resp label {
    overflow: hidden;
  }
  /* line 83, ../scss/responsive.scss */
  html body header nav .menu_container ul #responsive_search_check:checked ~ .right_menu_responsive .search_resp label .fa-search {
    -webkit-transform: translate(-30px);
            transform: translate(-30px);
  }
  /* line 87, ../scss/responsive.scss */
  html body header nav .menu_container ul #responsive_search_check:checked ~ .right_menu_responsive .search_resp label .fa-times {
    -webkit-transform: translate(-10px, 1px);
            transform: translate(-10px, 1px);
  }
  /* line 93, ../scss/responsive.scss */
  html body header nav .menu_container ul #responsive_search_check:checked ~ .responsive_search {
    width: 100%;
    height: 40px;
    border: 2px solid #ccc;
  }
  /* line 101, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 112, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .search_resp {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 119, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .search_resp label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #dcd9d9;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  /* line 130, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .search_resp label:hover {
    cursor: pointer;
    background-color: #03d71c;
  }
  /* line 134, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .search_resp label:hover .fas {
    color: white;
  }
  /* line 139, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .search_resp label .fas {
    font-size: 19px;
    color: #01015c;
    -webkit-transform: translate(7px, 1px);
            transform: translate(7px, 1px);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  /* line 146, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .search_resp label .fa-times {
    -webkit-transform: translate(20px, 1px);
            transform: translate(20px, 1px);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  /* line 153, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .wish_responsible {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 20px;
  }
  /* line 160, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .wish_responsible a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    border-radius: 50%;
    background-color: #dcd9d9;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  /* line 171, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .wish_responsible a:hover {
    background-color: #03d71c;
  }
  /* line 174, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .wish_responsible a:hover .fas {
    color: white;
  }
  /* line 179, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .wish_responsible a .fas {
    margin-top: 3px;
    font-size: 19px;
    color: #01015c;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  /* line 188, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .shopping_resp {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 195, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .shopping_resp a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    border-radius: 50%;
    background-color: #dcd9d9;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  /* line 206, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .shopping_resp a:hover {
    background-color: #03d71c;
  }
  /* line 209, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .shopping_resp a:hover .fas {
    color: white;
  }
  /* line 214, ../scss/responsive.scss */
  html body header nav .menu_container ul .right_menu_responsive .shopping_resp a .fas {
    margin-top: 3px;
    font-size: 19px;
    color: #01015c;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  /* line 224, ../scss/responsive.scss */
  html body header nav .menu_container ul .menu_item_container {
    margin-top: 10px;
  }
  /* line 227, ../scss/responsive.scss */
  html body header nav .menu_container ul .menu_item_container li {
    color: white;
    font-weight: 500;
  }
  /* line 232, ../scss/responsive.scss */
  html body header nav .menu_container ul .menu_item_container:not(:last-child) {
    margin-right: 0px;
  }
  /* line 239, ../scss/responsive.scss */
  html body header .right_menu_desktop {
    display: none;
  }
}

/*# sourceMappingURL=responsive.css.map */